/* ---------- Copy this into Sidebery styles editor settings ---------- */

#root.root {
  --frame-bg: rgb(22, 23, 23);
}

.NavigationBar {
  background-color: rgb(28, 28, 28);
  box-shadow: none !important;
}

.TabsPanel .container, .PinnedDock {
  box-shadow: none !important;
}

/***** Tabs *****/

.Tab .ctx {
  display: none;
}

.Tab .close > svg {
  fill: var(--tabs-activated-fg);
}

.Tab .close:hover > svg {
  fill: var(--tabs-activated-fg);
  background-color: rgba(255,255,255,0.1);
  border-radius: 2px;
}

/* Adjust colourisation of tabs */
.Tab {
  --tabs-color-layer-opacity: 0.1;
  --tabs-activated-color-layer-opacity: 0.6;
}

.Tab[data-discarded="true"] {
  --tabs-color-layer-opacity: 0;
}

/* Make active tab stand out more */
.Tab[data-active="true"] .title {
  font-weight: 800 !important;
}

/* Make unloaded tabs less visible */
.Tab[data-discarded="true"] {
  color: var(--tabs-fg) !important;
}

.Tab[data-discarded="true"] .t-box {
  opacity: 0.25 !important;
}

.Tab[data-discarded="true"] .title {
  font-style: italic;
}

/***** Other stuff that I'm afraid to touch *****/

.Bookmarks.panel {
  padding-top: 35px;
}

.Bookmarks.panel::before {
  content: 'Bookmarks';
  display: block;
  height: 35px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  color: var(--tabs-activated-fg);
  padding: 0 20px;
  font-size: 11px;
  font-weight: 500;
}

.Bookmarks {
  font-weight: 500;
}

.panel-btn {
  border-left: 0 solid transparent;
  border-width: 0 2px;
}

.panel-btn > svg {
 --container-fg: #6272a4;
 --nav-btn-fg: #6272a4;
 width: 24px !important;
 height: 24px !important;
}

/*
.panel-btn:hover {
  background-color: var(--tabs-bg-hover) !important;
}
*/

.panel-btn:hover > svg {
 --container-fg: var(--tabs-fg-hover);
 --nav-btn-fg:  var(--tabs-fg-hover);
}

.panel-btn[data-active="true"] {
  background-color: #43465a !important;
  border-left-color: #a86595;
}

.panel-btn[data-active="true"] > svg {
 --container-fg: var(--tabs-activated-fg);
 --nav-btn-fg:  var(--tabs-activated-fg);
}
