/* THIS DOESN'T WORK */

/*
:root:not([customizing]) #navigator-toolbox{
  position: relative;
  z-index: 1;
}

:root:not([customizing],[chromehidden~="menubar"]) #main-window:not([titlepreface*="🦊"]),
:root:not([customizing],[chromehidden~="menubar"]) #titlebar{
  margin-bottom: calc(0px - 2 * var(--tab-block-margin) - var(--tab-min-height));
}

#TabsToolbar:not([customizing]){ visibility: hidden; transition: visibility 0ms linear 200ms }

#navigator-toolbox,
#titlebar{ transition: margin-bottom 48ms ease-out 200ms }

#main-window:not([titlepreface*="🦊"]){ transition-delay: 0s }
#main-window:not([titlepreface*="🦊"]) > #titlebar{
  margin-bottom: 0px;
  transition-delay: 0s;
}

#main-window:not([titlepreface*="🦊"]) #TabsToolbar{
  visibility: visible;
  transition-delay: 18ms
}

#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container{
  max-height: var(--tab-min-height);
}
.tab-label{ line-height: 20px !important; }
:root[uidensity="compact"] .tab-label{ line-height: 18px !important; }

:root[sizemode="fullscreen"] #TabsToolbar > #window-controls{ visibility: visible !important; z-index: 2 }
#TabsToolbar > .titlebar-buttonbox-container{
  visibility: visible !important;
  height:var(--uc-toolbar-height) !important;
}

#nav-bar{
  margin-top: calc(0px - var(--uc-toolbar-height));
}
:root[inFullscreen] #navigator-toolbox{ margin-top: 11px }
*/

:root{ --uc-toolbar-height: 32px; }
:root:not([uidensity="compact"]){ --uc-toolbar-height: 34px }

#main-window[titlepreface*="🦊"] #TabsToolbar > *{ visibility: collapse !important }
:root[sizemode="fullscreen"] #main-window[titlepreface*="🦊"] #TabsToolbar > #window-controls{ visibility: visible !important; z-index: 2 }
#main-window[titlepreface*="🦊"] #TabsToolbar > .titlebar-buttonbox-container{
  visibility: visible !important;
  height:var(--uc-toolbar-height) !important;
}

#nav-bar{
  margin-top: calc(0px - var(--uc-toolbar-height));
}
:root[inFullscreen] #navigator-toolbox{ margin-top: 11px }
