/* ---------- Copy this into Sidebery styles editor settings ---------- */

#root.root {
  --frame-bg: #2b2a32;

	/* Make active tab more visible */
  --tabs-activated-bg: rgb(80, 80, 80);
  --tabs-activated-shadow: 0 1px 4px -1px rgba(0,0,0,0.282), inset 0 0 0 1.5px rgba(255,255,255,0.5);

  /* Make active panel more visible */
  --nav-btn-active-shadow: inset 0 0 0 1.5px rgba(255,255,255,0.5), 0 1px 3px 0 rgba(0,0,0,0.212);
}

.Bookmarks.panel {
  padding-top: 35px;
}

.Bookmarks.panel::before {
  content: 'Bookmarks';
  display: block;
  height: 35px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  color: var(--tabs-activated-fg);
  padding: 0 20px;
  font-size: 11px;
  font-weight: 500;
}

.Bookmarks {
  font-weight: 500;
}

.Tab .ctx {
  display: none;
}

.Tab .title {
  font-size: 0.9rem;
  font-weight: 500 !important;
}

.Tab .close > svg {
  fill: var(--tabs-activated-fg);
}

.Tab .close:hover > svg {
  fill: var(--tabs-activated-fg);
  background-color: rgba(255,255,255,0.1);
  border-radius: 2px;
}

.Tab[data-discarded="true"] {
  color: var(--tabs-fg) !important;
}

.Tab[data-discarded="true"] .t-box {
  opacity: 0.5 !important;
}

.Tab[data-discarded="true"] .title {
  font-style: italic;
}

.panel-btn {
  border-left: 0 solid transparent;
  border-width: 0 2px;
}

.panel-btn > svg {
  --container-fg: #6272a4;
  --nav-btn-fg:  #6272a4;
  width: 24px !important;
  height: 24px !important;
}

/*
.panel-btn:hover {
  background-color: var(--tabs-bg-hover) !important;
}
*/

.panel-btn:hover > svg {
  --container-fg: var(--tabs-fg-hover);
  --nav-btn-fg:  var(--tabs-fg-hover);
}

.panel-btn[data-active="true"] {
  background-color: #43465a !important;
  border-left-color: #a86595;
}

.panel-btn[data-active="true"] > svg {
  --container-fg: var(--tabs-activated-fg);
  --nav-btn-fg: var(--tabs-activated-fg);
}

.NavigationBar {
  background-color: #3a3f4e;
  box-shadow: none !important;
}

.TabsPanel .container, .PinnedDock {
  box-shadow: none !important;
}
